@page
@model DurdenTyler.Views.Home.ContactModel
@{

}


<!DOCTYPE html>
<html lang="en">
<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>Tyler Durden</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- bootstrap css -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <!-- style css -->
    <link rel="stylesheet" href="~/css/style.css">
    <!-- Responsive-->
    <link rel="stylesheet" href="~/css/responsive.css">
    <!-- fevicon -->
    <link rel="icon" href="~/images/fevicon.png" type="image/gif" />
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="~/css/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <!-- Tweaks for older IEs-->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
    <link rel="stylesheet" href="https://rawgit.com/LeshikJanz/libraries/master/Bootstrap/baguetteBox.min.css">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
</head>
<!-- body -->
<body class="main-layout inner_page">

    <!--  footer -->
    <footer>
        <div class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <a class="logo_bottom" href="index.html">Tyler Durden Products</a>
                    </div>
                    <div class="col-md-12">
                        <form class="form_subscri">
                            <div class="row">
                                <div class="col-md-12">
                                    <input class="subsrib" placeholder="Enter your email" type="text" name="Enter your email">
                                </div>
                                <div class="col-md-12">
                                    <button class="subsci_btn">Subscribe</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-9 col-md-8">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="infoma text_align_left">
                                    <h3>Menu</h3>
                                    <ul class="menu_bottom">
                                        <li class="nav-item">
                                            <a class="nav-link" href="~/">Home</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="~/Home/About">About</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="~/Home/Privacy">Privacy</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="~/Home/Testimonial">Testimonial</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="~/Home/Blog">Blog</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="~/Home/Contact">Contact Us</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="infoma text_align_left">
                                    <h3>Coffee</h3>
                                    <ul class="menu_bottom">
                                        <li><a href="Javascript:void(0)">Black Coffee</a></li>
                                        <li><a href="Javascript:void(0)">Red Coffee </a></li>
                                        <li><a href="Javascript:void(0)">Coffee Serviec</a></li>
                                        <li><a href="Javascript:void(0)">Green Tea</a></li>
                                        <li><a href="Javascript:void(0)">Choclate Coffee</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4">
                        <div class="infoma">
                            <h3>Follow Us</h3>
                            <ul class="social_icon">
                                <li><a href="Javascript:void(0)"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="Javascript:void(0)"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="Javascript:void(0)"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                <li><a href="Javascript:void(0)"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                <li><a href="Javascript:void(0)"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                            </ul>
                            <ul class="conta">
                                <li>
                                    <i class="fa fa-map-marker" aria-hidden="true"></i>Locations
                                </li>
                                <li><i class="fa fa-phone" aria-hidden="true"></i>Call +90 (212) 533 65 32</li>
                                <li> <i class="fa fa-envelope" aria-hidden="true"></i><a href="Javascript:void(0)"> durden@gmail.com</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            @*<p>© 2020 All Rights Reserved.  <a href="https://html.design/"> Free html Templates</a></p>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/jquery-3.0.0.min.js"></script>
    <!-- sidebar -->
    <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/custom.js"></script>
</body>
</html>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
