@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>Tyler Durden Products</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- bootstrap css -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- style css -->
    <link rel="stylesheet" href="css/style.css">
    <!-- Responsive-->
    <link rel="stylesheet" href="css/responsive.css">
    <!-- fevicon -->
    <link rel="icon" href="image/fevicon.png" type="image/gif" />
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <!-- Tweaks for older IEs-->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
    <link rel="stylesheet" href="https://rawgit.com/LeshikJanz/libraries/master/Bootstrap/baguetteBox.min.css">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
</head>
<!-- body -->
<body class="main-layout">
    <!-- loader  -->
    <div class="loader_bg">
        <div class="loader"><img src="images/loading.gif" alt="#" /></div>
    </div>
    <!-- end loader -->
    <!-- header -->
    <div class="header">
        <div class="container-fluid">
            <div class="row d_flex">
                <div class="col-xl-1 col-lg-3 col-sm-2 col logo_section">
                    <div class="full">
                        <div class="center-desk">
                            <div class="logo">
                                <a href="index.html">Tyler Durden Products</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-7 col-lg-9 col-md-10 col-sm-12">
                    <nav class="navigation navbar navbar-expand-md navbar-dark ">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarsExample04">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item active">
                                    <a class="nav-link" href="Index">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="About">About</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="service.html">Service</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="testimonial.html">Testimonial</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="blog.html">Blog</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="contact.html">Contact Us</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" style="background: transparent;" href="Javascript:void(0)"><i class="fa fa-search"></i></a>
                                </li>

                               
                            </ul>
                        </div>
                    </nav>
                </div>
                <div class="col-md-4 re_no">
                    <ul class="infomaco">   
                        <li><i class="fa fa-phone" aria-hidden="true"></i> +90 (212) 533 65 32</li>
                       
                        <li><a href="Javascript:void(0)"><i class="fa fa-envelope-o" aria-hidden="true"></i> durden@gmail.com</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- end header inner -->
    <!-- end header -->
    <!-- top -->
    <div class="full_bg">
        <div class="slider_main">
            <div class="container-fluid">
                <div class="row">

                    <div class="col-md-12">
                        <!-- carousel code -->
                        <div id="carouselExampleIndicators" class="carousel slide">
                            <ol class="carousel-indicators">
                                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                            </ol>
                            <div class="carousel-inner">
                                <!-- first slide -->
                                <div class="carousel-item active">
                                    <div class="carousel-caption relative">
                                        <div class="row d_flex">
                                            <div class="col-md-5">
                                                <div class="Tyler Durden Products_text">
                                                    <img src="~/images/durdenn.jpg" />

                                                    <h1 data-animation="animated bounceInLeft">
                                                        Tyler Durden Products<br>
                                                        Coffee
                                                    </h1>
                                                    <p data-animation="animated bounceInLeft">
                                                        bizler, tarihin ortanca çocuklarıyız. bir amacımız ya da yerimiz yok, ne büyük savaşı yaşadık ne de büyük buhranı. bizim savaşımız ruhani bir savaş, en büyük buhranımız; hayatlarımız
                                                    </p>
                                                    <button class="btn btn-primary  read_more bounceInLeft" data-animation="animated bounceInLeft">Read More</button>
                                                    <button class="btn btn-primary  read_more bounceInLeft" data-animation="animated bounceInLeft">Get A Quote</button>
                                                </div>
                                            </div>
                                            <div class="col-md-7">
                                                <div class="coff_img">
                                                    <figure><img src="images/coff_img.png" alt="#" /></figure>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- second slide -->
                                <div class="carousel-item">
                                    <div class="carousel-caption relative">
                                        <div class="row d_flex">
                                            <div class="col-md-5">
                                                <div class="Tyler Durden Products_text">
                                                    <img src="~/images/durdenn.jpg" />
                                                    <h1 data-animation="animated bounceInLeft">
                                                        Tyler Durden Products<br>
                                                        Coffee
                                                    </h1>
                                                    <p data-animation="animated bounceInLeft">
                                                        o ciyanno fatto beyne pero domanikise nonsiemay perke covani cokatoli sempe poso faretu tolekazo ukempo ha
                                                    </p>
                                                    <button class="btn btn-primary  read_more bounceInLeft" data-animation="animated bounceInLeft">Read More</button>
                                                    <button class="btn btn-primary  read_more bounceInLeft" data-animation="animated bounceInLeft">Get A Quote</button>
                                                </div>
                                            </div>
                                            <div class="col-md-7">
                                                <div class="coff_img">
                                                    <figure><img src="images/coff_img.png" alt="#" /></figure>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- third slide-->
                                <div class="carousel-item">
                                    <div class="carousel-caption relative">
                                        <div class="row d_flex">
                                            <div class="col-md-5">
                                                <div class="Tyler Durden Products_text">
                                                    <img src="~/images/durdenn.jpg" />

                                                    <h1 data-animation="animated bounceInLeft">
                                                        Tyler Durden Products<br>
                                                        Coffee
                                                    </h1>
                                                    <p data-animation="animated bounceInLeft">
                                                        Look at that subtle off-white coloring. The tasteful thickness of it. Oh, my God. It even has a watermark
                                                    </p>
                                                    <button class="btn btn-primary  read_more bounceInLeft" data-animation="animated bounceInLeft">Read More</button>
                                                    <button class="btn btn-primary  read_more bounceInLeft" data-animation="animated bounceInLeft">Get A Quote</button>
                                                </div>
                                            </div>
                                            <div class="col-md-7">
                                                <div class="coff_img">
                                                    <figure><img src="images/coff_img.png" alt="#" /></figure>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- controls -->
                            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                                <i class="fa fa-angle-left" aria-hidden="true"></i>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end banner -->
    <!-- about -->
    <div class="about">
        <div class="container">
            <div class="row d_flex grid">
                <div class="col-md-6">
                    <div class="about_img text_align_center">
                        <figure><img src="images/about.png" alt="#" /></figure>
                    </div>
                </div>
                <div class="col-md-6 order1">
                    <div class="titlepage text_align_left">
                        <h2>About Tyler Durden Products Coffee</h2>
                        <p>
                            editlenecek
                        </p>
                        <a class="read_more" href="about.html">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end about -->
    <!-- service -->
    <div class="service">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="titlepage text_align_center">
                        <h2>Coffee Services</h2>
                        <p>
                            yerli ve milli merdiven altı kahveleri
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <!--  durdens -->
                    <div class="owl-carousel owl-theme">
                        <div class="item">
                            <div class="service_box text_align_center">
                                <div class="ser_img">
                                    <figure><img src="images/ser_img1.png" alt="#" /></figure>
                                </div>
                                <h3>Red Coffee</h3>
                                <p>
                                    kahve abip publishing packages and
                                    web page editors
                                </p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="service_box text_align_center">
                                <div class="ser_img">
                                    <figure><img src="images/ser_img3.png" alt="#" /></figure>
                                </div>
                                <h3>Black Coffee</h3>
                                <p>
                                    kahve abip publishing packages and
                                    web page editors
                                </p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="service_box text_align_center">
                                <div class="ser_img">
                                    <figure><img src="images/ser_img2.png" alt="#" /></figure>
                                </div>
                                <h3>Choclate Coffee</h3>
                                <p>
                                    kahve abip publishing packages and
                                    web page editors
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <a class="read_more" href="service.html">Book Now Table</a>
                </div>
            </div>
        </div>
    </div>
    <!-- end service -->
    <!-- section blue_bg -->
    <div class="section blue_bg">
        <div class="container-fluid">
            <div class="row">
                <!-- contact -->
                <div class="col-lg-6 col-md-12">
                    <div class="contact">
                        <div class="row ">
                            <div class="col-md-12">
                                <div class="titlepage text_align_center">
                                    <h2>Get In Touch</h2>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <form id="request" class="main_form">
                                    <div class="row">
                                        <div class="col-md-12 ">
                                            <input class="contactus" placeholder="Your name" type="type" name=" Name">
                                        </div>
                                        <div class="col-md-12">
                                            <input class="contactus" placeholder="Phone Number" type="type" name="Phone Number">
                                        </div>
                                        <div class="col-md-12">
                                            <input class="contactus" placeholder="Email" type="type" name="Email">
                                        </div>
                                        <div class="col-md-12">
                                            <textarea class="textarea" placeholder="Message" type="type" Message="Name"></textarea>
                                        </div>
                                        <div class="col-md-12">
                                            <button class="send_btn">Send</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- contact -->
                <!-- testimonial section hjhkhkjhkjhkhj-->
                <div class="col-lg-6 col-md-12">
                    <div class="testimonial">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="titlepage text_align_left">
                                    <h2>Testimonial</h2>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div id="myCarousel" class="carousel slide testimonial_Carousel " data-ride="carousel">
                                    <ol class="carousel-indicators">
                                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                        <li data-target="#myCarousel" data-slide-to="1"></li>
                                        <li data-target="#myCarousel" data-slide-to="2"></li>
                                    </ol>
                                    <div class="carousel-inner">
                                        <div class="carousel-item active">
                                            <div class="container">
                                                <div class="carousel-caption ">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="testimonial_box text_align_left">
                                                                <p>merdiven altında mi uretiyosunuz napıyosunuz bu nasıl bi protein bar a*** </p>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <div class="testimonial_pro">
                                                                <figure><img src="~/images/ronaldo.jpg" /></figure>
                                                                <h3>Cristiano Ronaldo <br><span class="cust">customer</span></h3>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="carousel-item">
                                            <div class="container">
                                                <div class="carousel-caption">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="testimonial_box text_align_left">
                                                                <p>soytarı o**** c****ları dolandırıcı bunlar, tavisye etmiyorum</p>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <div class="testimonial_pro">
                                                                <figure><img src="~/images/rambo.jpg" /></figure>
                                                                <h3>Rambo Okan <br><span class="cust">customer</span></h3>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="carousel-item">
                                            <div class="container">
                                                <div class="carousel-caption">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="testimonial_box text_align_left">
                                                                <p>bok gibi cikolata abi asla almayin sizin ben ta ****</p>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <div class="testimonial_pro">
                                                                <figure><img src="~/images/czn.jpg" /></figure>

                                                                <h3>CZN Burak <br><span class="cust">customer</span></h3>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                                        <i class="fa fa-angle-left" aria-hidden="true"></i>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="coff">
                                    <figure><img src="images/coff.png" alt="#" /></figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end testimonial section -->
            </div>
        </div>
    </div>
    <!-- end section blue_bg -->
    <!--  footer -->
    <footer>
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <a class="logo_bottom" href="index.html">Tyler Durden Products</a>
                    </div>
                    <div class="col-md-12">
                        <form class="form_subscri">
                            <div class="row">
                                <div class="col-md-12">
                                    <input class="subsrib" placeholder="Enter your email" type="text" name="Enter your email">
                                </div>
                                <div class="col-md-12">
                                    <button class="subsci_btn">Subscribe</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-9 col-md-8">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="infoma text_align_left">
                                    <h3>Menu</h3>
                                    <ul class="menu_bottom">
                                        <li><a href="index.html">Home</a></li>
                                        <li><a href="about.html">About </a></li>
                                        <li><a href="serviec.html">Coffee Serviec</a></li>
                                        <li><a href="testimonial.html">Testimonial</a></li>
                                        <li><a href="blog.html">Blog</a></li>
                                        <li><a href="contact.html">Contact us</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="infoma text_align_left">
                                    <h3>Coffee</h3>
                                    <ul class="menu_bottom">
                                        <li><a href="Javascript:void(0)">Black Coffee</a></li>
                                        <li><a href="Javascript:void(0)">Read Coffee </a></li>
                                        <li><a href="Javascript:void(0)">Coffee Serviec</a></li>
                                        <li><a href="Javascript:void(0)">Green Tea</a></li>
                                        <li><a href="Javascript:void(0)">Choclate Coffee</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4">
                        <div class="infoma">
                            <h3>Follow Us</h3>
                            <ul class="social_icon">
                                <li><a href="Javascript:void(0)"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="Javascript:void(0)"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="Javascript:void(0)"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                <li><a href="Javascript:void(0)"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                <li><a href="Javascript:void(0)"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                            </ul>
                            <ul class="conta">
                                <li>
                                    <i class="fa fa-map-marker" aria-hidden="true"></i>Locations
                                </li>
                                <li><i class="fa fa-phone" aria-hidden="true"></i>Call +90 (212) 533 65 32</li>
                                <li> <i class="fa fa-envelope" aria-hidden="true"></i><a href="Javascript:void(0)"> durden@gmail.com</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            @*<p>© 2020 All Rights Reserved.  <a href="https://html.design/"> Free html Templates</a></p>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- end footer -->
    <!-- Javascript files-->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/jquery-3.0.0.min.js"></script>
    <!-- sidebar -->
    <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/custom.js"></script>
</body>
</html>
