@page
@model DurdenTyler.Views.Home.TestimonialModel
@{

}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>Tyler Durden</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- bootstrap css -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <!-- style css -->
    <link rel="stylesheet" href="~/css/style.css">
    <!-- Responsive-->
    <link rel="stylesheet" href="~/css/responsive.css">
    <!-- fevicon -->
    <link rel="icon" href="~/images/fevicon.png" type="image/gif" />
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="~/css/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <!-- Tweaks for older IEs-->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
    <link rel="stylesheet" href="https://rawgit.com/LeshikJanz/libraries/master/Bootstrap/baguetteBox.min.css">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
</head>
<!-- body -->
<body class="main-layout inner_page">
    <!-- loader  -->
    
    <!-- end loader -->
    <!-- header -->
    
    <!-- end header inner -->

    <!-- section blue_bg -->
   
                <div class="section blue_bg">
                    <div class="container-fluid">
                        <div class="row">
                            <!-- contact -->
                            <div class="col-lg-6 col-md-12">
                                <div class="contact">
                                    <div class="row ">
                                        <div class="col-md-12">
                                            <div class="titlepage text_align_center">
                                                <h2>Get In Touch</h2>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <form id="request" class="main_form">
                                                <div class="row">
                                                    <div class="col-md-12 ">
                                                        <input class="contactus" placeholder="Your name" type="type" name=" Name">
                                                    </div>
                                                    <div class="col-md-12">
                                                        <input class="contactus" placeholder="Phone Number" type="type" name="Phone Number">
                                                    </div>
                                                    <div class="col-md-12">
                                                        <input class="contactus" placeholder="Email" type="type" name="Email">
                                                    </div>
                                                    <div class="col-md-12">
                                                        <textarea class="textarea" placeholder="Message" type="type" Message="Name"></textarea>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <button class="send_btn">Send</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- testimonial section -->
                            <div class="col-lg-6 col-md-12">
                                <div class="testimonial">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="titlepage text_align_left">
                                                <h2>Testimonial</h2>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div id="myCarousel" class="carousel slide testimonial_Carousel " data-ride="carousel">
                                                <ol class="carousel-indicators">
                                                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                                    <li data-target="#myCarousel" data-slide-to="1"></li>
                                                    <li data-target="#myCarousel" data-slide-to="2"></li>
                                                </ol>
                                                <div class="carousel-inner">
                                                    <div class="carousel-item active">
                                                        <div class="container-fluid">
                                                            <div class="carousel-caption ">
                                                                <div class="row">
                                                                    <div class="col-md-12">
                                                                        <div class="testimonial_box text_align_left">
                                                                            <p>merdiven altında mi uretiyosunuz napıyosunuz bu nasıl bi protein bar a*** </p>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-12">
                                                                        <div class="testimonial_pro">
                                                                            <figure><img src="~/images/ronaldo.jpg" /></figure>
                                                                            <h3>Cristiano Ronaldo <br><span class="cust">customer</span></h3>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="carousel-item">
                                                        <div class="container-fluid">
                                                            <div class="carousel-caption">
                                                                <div class="row">
                                                                    <div class="col-md-12">
                                                                        <div class="testimonial_box text_align_left">
                                                                            <p>soytarı o**** c****ları dolandırıcı bunlar, tavsiye etmiyorum</p>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-12">
                                                                        <div class="testimonial_pro">
                                                                            <figure><img src="~/images/rambo.jpg" /></figure>
                                                                            <h3>Rambo Okan <br><span class="cust">customer</span></h3>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="carousel-item">
                                                        <div class="container-fluid">
                                                            <div class="carousel-caption">
                                                                <div class="row">
                                                                    <div class="col-md-12">
                                                                        <div class="testimonial_box text_align_left">
                                                                            <p>bok gibi cikolata abi asla almayin sizin ben ta ****</p>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-12">
                                                                        <div class="testimonial_pro">
                                                                            <figure><img src="~/images/czn.jpg" /></figure>

                                                                            <h3>CZN Burak <br><span class="cust">customer</span></h3>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <a class="carousel-control-prev" href="~/#myCarousel" role="button" data-slide="prev">
                                                    <i class="fa fa-angle-left" aria-hidden="true"></i>
                                                    <span class="sr-only">Previous</span>
                                                </a>
                                                <a class="carousel-control-next" href="~/#myCarousel" role="button" data-slide="next">
                                                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                                                    <span class="sr-only">Next</span>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="coff">
                                                <figure><img src="~/images/coff.png" alt="#" /></figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end testimonial section -->
                        </div>
                    </div>
                </div>
                <!-- end section blue_bg -->
                
                <!-- end footer -->
                <!-- Javascript files-->
                <script src="js/jquery.min.js"></script>
                <script src="js/bootstrap.bundle.min.js"></script>
                <script src="js/jquery-3.0.0.min.js"></script>
                <!-- sidebar -->
                <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
                <script src="js/owl.carousel.min.js"></script>
                <script src="js/custom.js"></script>
</body>
</html>










@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
