@page
@model IndexModel
@{
    ViewData["Title"] = "essek sayfasi";
}

<div class="text-center">
    <h1 class="display-4">hos geldin birader</h1>
    <p>saat su an: @DateTime.Now rica ederim</p>
</div>
