@page
@model IndexModel
@{
    ViewData["Title"] = "essek sayfasi";
}

<div class="text-center">
    <h1 class="display-4">hos geldin birader</h1>
    <p>saat su an: @DateTime.Now rica ederim</p>
    <img src="~/images/durdenn.jpg" />
	<img src="~/images/grup.jfif">


    <p style="background-color:red"
    <p style="font-family:Forte">
        20201701021 Begüm Doğan
    <p style="background-color:orange"
    <p style="font-family:Forte">

        20201701040 Kuzey Arar
    <p style="background-color:yellow"
    <p style="font-family:Forte">

        20191709010 Emre Turan
    <p style="background-color:green"
    <p style="font-family:Forte">

        20191701011 Kazım Emre Yılmazcan
    <p style="background-color:cornflowerblue"
    <p style="font-family:Forte">

        20191701037 Ömer Sungur Alp Daştan
    </p>
</div>

